*.iml
*.jks
*.keystore
*.apk
*.aab
*.ap_
*.dex
*.class

.gradle/
.idea/
.DS_Store
Thumbs.db
*.log

local.properties
/**/local.properties

build/
**/build/
captures/

.externalNativeBuild/
.cxx/

### Android Studio generated
.navigation/
renderscript.externalNativeBuild/
lint/intermediates/
lint/generated/
lint/outputs/
lint/tmp/
lint/reports/

### NDK
obj/
*.o
*.so
*.a
*.s
*.d
*.P
